.navbar {
  background-image: radial-gradient(farthest-corner at 0 100%,#2f80ed 0,#21b8ff 100%);

  .navbar-item, .navbar-link, .navbar-burger {
    color: #FFF;
  }

  .navbar-menu {
    .navbar-item:hover, .navbar-link:hover {
      &.discord {
        color: #7289DA;
      }

      &.facebook {
        color: #3b5998;
      }

      &.twitter {
        color: #1DA1F2;
      }
    }

    &.is-active {
      .navbar-item, .navbar-link {
        color: #4a4a4a;
        text-align: center;

        &.discord {
          color: #7289DA;
        }

        &.facebook {
          color: #3b5998;
        }

        &.twitter {
          color: #1DA1F2;
        }
      }

      .navbar-end {
        display: flex;
        justify-content: space-around;

        .navbar-item {
          font-size: 2rem;
        }
      }
    }
  }
}
